@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
}

.App {
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: rgb(159, 127, 255);
}

.quote-box {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin:0;
    min-height: 200px;
    width: 500px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 40px;
    text-align: center;
    background-color: white;
    color:rgb(159, 127, 255);
}

.text {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 55px;
    align-items: flex-end;
    color:rgb(159, 127, 255);
    font-size: 20px;
}

.author {
    font-family: 'Poppins', sans-serif;
    text-align: right;
    color:rgb(159, 127, 255);
    font-size: 15px;
    font-weight:400px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;

}

.buttons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    justify-content: space-between;
    margin-top: 25px;
}

.icons {
    width: 100px;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
  }

.newquote {
    opacity: 0;
    transition: all 3s;
    -webkit-transition: all ease 2s;
    width: 105px;
    height: 40px;
    margin-right: 20px;
    font-family: "Raleway", sans-serif;
    background-color: rgb(159, 127, 255);
    color:white;
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.twitter {
    display: flex;
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
    color:white;
    background-color: rgb(159, 127, 255);
    border-radius: 5px;
}

.newquote:hover, .twitter:hover, .facebook:hover {
    opacity: 0.5;
    transition: all 0.5s;
    -webkit-transition: all ease 0.5s;
}


.facebook {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color:white;
    background-color: rgb(159, 127, 255);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.quotes {
    font-size: 30px;
}

.transition {
    opacity: 100;
    transition: all 3s;
    -webkit-transition: all ease 2s;
}
